* { margin: 0; padding: 0; }  
   
 html, body {
  height: 100%; 
  width: 100%; 
  background-color:cadetblue; 
  font-size: 100%;
  font-family: "Microsoft yahei", serif;
  color: #7f8c97;
  }  

 canvas {display: block; position:absolute; background-color: #000000; z-index: -2;}
 
 footer{bottom:0;width:100%;height:auto;background-color: teal;padding-bottom:20px;}
 
 .createNewWikiButton{
	background-color:indigo; 
	text-align: center; 
	width:100%; 
	border: 4mm ridge rgba(170, 50, 220, .6);
 }
 
 .createNewWikiText{
	color:white; 
	font-size:50px; 
	font-style: italic; 
	padding-bottom:10px;
 }
 
 .footerH1{
	 color:cornsilk; 
	 font-family: sans-serif; 
	 font-variant: small-caps; 
	 font-size:50px;
 }
 
 .footerH2{
	 color:cornsilk; 
	 font: 20px "Fira Sans", sans-serif;
 }
 
 .rowDisplay{
	display:flex;
    flex-direction: row;
	justify-content:center;
	align-items:center;
 }
 
 .columnDisplay{
	display:flex;
    flex-direction: column;
	justify-content:center;
	align-items:center;
 }
 
 .mobileSignInBox{
		bottom:40%;
}

 .mobileWelcomeTitle{
		font-size:100px;
 }
 
 .mobileWelcomeSubTitle{
		font-size:40px;
}
 
@keyframes blackMaskUp{
	from{height:0%}
	to{height:100%}
}

@keyframes blackMaskDown{
	from{height:100%}
	to{height:0%}
}

@media screen and (max-width: 580px) {
	.mobileSignInBox{
		top:20%;
		bottom:auto;
	}
	
	.mobileWelcomeTitle{
		font-size:70px;
	}
	
	.mobileWelcomeSubTitle{
		font-size:20px;
	}
}